body {
    background-color: #1C1B1F;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    
}

.App {
    text-align: center;
    justify-content: center;
    background-color: #1C1B1F;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
}

h1 {
    justify-content: left;
    text-align: left;
    padding-left: 30px;
    font-family: 'SilversPersonal';
    font-style: normal;
    font-weight: normal;
    color: white;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 40px;
    /* transition: transform .1s; Animation */
}

.smaller {
    font-size: 23px;

}

/* h1:hover {
    transform: scale(1.01);
} */

h2 {
    color: white;
    font-family: "futura";
    margin: 0 auto;
}

a {
    background-color: transparent; /* Grey */
    border: none;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 8px;
    font-family: 'futura';
    font-weight: bold;
    transition-duration: 0.1s;
    margin: 10px;
    position: relative;
}

a:hover {
    background-color: white; /* Grey */
    color: #1C1B1F;
    cursor: pointer;
}

.popularity {
    color: white;
    font-family: futura;
    font-style: italic;
    font-size: 8px;
}

button {
    background-color: transparent; /* Grey */
    border: none;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 8px;
    font-family: 'futura';
    font-weight: bold;
    transition-duration: 0.1s;
    margin: 10px;


}

button:hover {
    background-color: white; /* Grey */
    color: #1C1B1F;
    cursor: pointer;
}


input {
    justify-content: center;
    text-align: left;
    font-family: 'futura';
    border-radius: 8px;
    padding: 4px 12px;
    border: none;
}

form {
align-items: center;
padding: 0%;
height: 100%;
width: 100%;
}

.headtext {
    position: relative;
    zoom: 0.8;
    -moz-transform: scale(0.8);
}

img {
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    /* transition: transform .2s; Animation */
    display: block;
    width: 400px; 
    height: auto;

}

/*img:hover {
    transform: scale(1.05);
}*/

.artistname {
    color: white;
    font-family: 'futura';
    font-weight: bold;
    font-size: large;
    font-style: normal;
    position: relative;
    bottom: 524px;
    left: 38px;
    display: inline-block;
}

.score {
    color: black;
    font-family: "futura";
    font-weight: bolder;
    font-style: normal;
    font-size: 24pt;
    position: relative;
    right: 190px; 
    bottom: 385px;
    display: inline-block;
    
}

.artistcover {
    position: relative;
    bottom: 260px;
    left: 0px;
    min-width: 167px;
    min-height: 167px;
    max-width: 167px;
    max-height: 167px;
    object-fit: cover;
    margin: 0 auto;
   
}



.save {
    position: relative;
    left: 170px;
    bottom: 35px
}

.headimage {
    height: 679.5px;
    display: inline-block;
}

#myartist.headtext {
    height: 679.5px;
    width: 400px;
    display: inline-block;
}

.App-header {
   margin: 0 auto;
   text-align: center;
   justify-content: 0;
}
