body {
    background-color: #1C1B1F;
}

.App {
    text-align: center;
    justify-content: center;
    background-color: #1C1B1F;
    margin: 0% auto;
    padding: 0%;
}

h1 {
    justify-content: left;
    text-align: left;
    padding-left: 30px;
    font-family: 'SilversPersonal';
    color: white;
    margin: 0 auto;
    padding-top: 20px;
    font-size: 45px;
}

h2 {
    color: white;
    font-family: "futura";
    margin: 0 auto;
}

a {
    background-color: transparent; /* Grey */
    border: none;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 8px;
    font-family: 'futura';
    font-weight: bold;
    transition-duration: 0.1s;
    margin: 10px;
}

a:hover {
    background-color: white; /* Grey */
    color: #1C1B1F;
    cursor: pointer;
}

.smaller {
    font-size: 28px;

}

img {
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    transition: transform .2s; /* Animation */
    display: grid;
    width:400px; 
    height: auto;

}


/*img:hover {
    transform: scale(1.05);
}*/

.popularity {
    color: white;
    font-family: futura;
    font-style: italic;
    font-size: 8px;
}

button {
    background-color: transparent; /* Grey */
    border: none;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 8px;
    font-family: 'futura';
    font-weight: bold;
    transition-duration: 0.1s;
    margin: 10px;

}

button:hover {
    background-color: white; /* Grey */
    color: #1C1B1F;
    cursor: pointer;
}


input {
    justify-content: center;
    text-align: left;
    font-family: 'futura';
    border-radius: 8px;
    padding: 4px 12px;
    border: none;
}

form {
align-items: center;
padding: 0%;
height: 100%;
width: 100%;
}

.selection {
    color: white;
    font-weight: bolder;
    font-size: larger
}

.shareable {
height: 50px;
width: auto;
}

.headtext {
    position: relative;
}

.artistname {
    color: white;
    font-family: futura;
    font-weight: bold;
    font-size: large;
    position: relative;
    bottom: 505px;
}

.score {
    color: black;
    font-family: futura;
    font-weight: bolder;
    font-size: 24pt;
    position: relative;
    right: 130px; 
    bottom: 410px;
}

.artistcover {
    position: relative;
    bottom: 271px;
    left: 0px;
    min-width: 165px;
    min-height: 165px;
    max-width: 165px;
    max-height: 165px;
    object-fit: cover;
    margin: 0 auto;
   
}
